<h1>{{ hn }} is the capital of {{ vn }}</h1>
<h1><a href="/vietnam">Link to Vietnam page</a></h1>
<button type="button" class="btn btn-primary" onclick="return alert('Hello everyone !')">Click me</button>
 
