<div class="table-responsive">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Interest</th>
      </tr>
    </thead>
    <tbody>
      {{#each interest }}
        <tr class="">
          <td scope="row">{{ this }}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
