<h1 style="color: red;"> Cloud Computing - GCH1101 </h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/M988_fsOSWo" title="YouTube video player"
   frameborder="0"
   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
   allowfullscreen></iframe>

<h2><a href="/">Greenwich Vietnam</a></h2> 
<h2><a href="/seagames">Sea Games 23</a></h2>