<h1>Hôm nay bế mạc SEA Games 32</h1>
<p>Với những gì đã thể hiện ở lễ khai mạc, hôm nay chủ nhà Campuchia được kỳ vọng tiếp tục đem đến một buổi lễ ấn tượng để
khép lại kỳ Đại hội đặc biệt.</p>

<p>Các nội dung cuối cùng của SEA Games đã khép lại tối 16/5, với trận chung kết bóng đá nam giữa Indonesia và Thái Lan.
Hôm nay không còn nội dung nào thi đấu, và chỉ có lễ bế mạc buổi tối. Ngọn đuốc trên sân Morodok Techo cũng sẽ tắt ở
cuối lễ bế mạc, khép lại một kỳ Đại hội nhiều dấu ấn. </p>

<img src="https://i1-thethao.vnecdn.net/2023/05/17/be-mac-jpeg-7312-1684298332.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=5rJr-PnqmHxQXetvafZx0g" alt="">

<h2><a href="/">Homepage</a></h2>
<h2><a href="/cloud">Cloud Computing</a></h2>